.alumni {
    background-color: $color-primary;
    color: $color-background;

    .title {
        margin-bottom: 24px;
        border-bottom: 2px solid $color-background;

        @media (max-width: 480px) {
            margin-bottom: 12px;
            font-size: 28px;
        }
    }
    &__carousel{
        width: 100%;
        &__card {
            max-width: 400px;
            margin: 0 32px;
            padding: 12px;
            border-radius: 6px;
            background-color: $color-background;
            color: $color-primary;
            box-shadow: 0 0 5px $color-background;

            &__photo {
                border-radius: 50%;

                @media (max-width: 480px) {
                    max-width: 120px;
                    margin: 12px auto;
                    
                }
            }

            .row {
                border-bottom: 2px solid $color-primary;
                padding-bottom: 16px;
                align-items: center;
            }

            &__title {
                span {
                    margin-top: 8px;
                    display: block;
                    border-top: 1px solid darken($color-primary, 1.8);
                }
            }

            &__testimony {
                padding: 16px;
            }

            @media (max-width: 480px) {
                margin: 0 6px;

                &__testimony {
                    font-size: 14px;;
                    padding: 0;
                    padding-top: 4px;
                }
            }
        }
    }

}