.hero {
    background-color: $color-background;
    color: $color-primary;
    
    .row {
        overflow: hidden;
    }

    
    &__description {
        background-color: lighten($color-background, 5%);
        box-shadow: 0 0 10px lighten($color-primary, 5%);
        max-width: 500px;
        border-radius: 28px;
        padding: 32px;
        margin: 80px 0;

        &__icons {
            max-width: 70%;
            flex-wrap: nowrap;
            margin: 0 auto;
        }

        &__article {
            .title--small {
                text-align: center;
                margin: 12px 0;
            }
            text-align: justify;
        }

        &__btn {
            max-width: 80%;
            display: block;
            margin-top: 24px;
            font-size: 22px;
        }
    }

    &__right-img-bg {
        position: relative;
        background-image: url(../assets/hero-img.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        transition: all ease 1s;
        scale: 0.9;

        &--zoom {
            transform: scale(1.1)
        }
    }
}