.navbar {
    color: $color-primary;
    background-image: linear-gradient(to bottom, $color-background 95%, $color-primary);
    position: sticky;
    z-index: 1;
    top: 0;

    &__logo {
        text-align: center;
        cursor: pointer;
    }

    @media (max-width: 768px) {
        .col-7 { /* as dropdown */
            display: inline-block;
        }
        &__nav { /* as dropdown-content */
            display: block !important;
            top: 56px;
            left: 0;
            position: absolute;
            background-color: $color-background;
            width: 100%;
            border-radius: 0 0 8px 8px;
            text-align: center;

            &--hidden {
                display: none;
            }

            &__item {
                padding: 6px 0;
                border-bottom: 1px solid darken($color-primary, 25%);
                
                &:last-child {
                    border-bottom: none;
                }
            }

        }
    }
    &__nav {
        /* Bootstrap reset */
        margin-bottom: 0;
        padding-left: 0;
        /*  */
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        transition: all 500ms ease-in-out;
        
        
        &--hidden {
            opacity: 0;
            visibility: hidden;
        }


        &__item {

            &__link {
                font-size: 20px;
                text-decoration: none;
                color: $color-primary;
                white-space: nowrap;

                &::after {
                    display: block;
                    content: '';
                    border-bottom: 3px solid $color-primary;
                    box-shadow: 0 0 5px rgba( white, 0.8);
                    transform: scaleX(0);
                    transition: transform 150ms ease-in-out;
    
                }
                &:hover::after {
                    transform: scaleX(1);
                }

            }
        }

        
    }

    &__toggler {
        margin: 0 auto;
        display: flex;
        background-color: transparent;
        outline: none;
        border: none;

        
        
        &__icon {
            transform: rotate(45deg);
            transform: scaleX(1.2);
            opacity: 0.8;
            transition: opacity 125ms ease, transform 750ms ease;

            &:hover {
                opacity: 1;
            }
            
            &--active {
                transform: rotate(0deg);
            }
        }

        @media (max-width: 768px) {
            margin-right: 1rem;
        }
    }
}