.teachers {
    background-color: $color-primary;
    color: #fff;

    .row {
        align-items: center;
    }
    
    
    &__card {
        text-align: center;
        
        &__profile-pic {
            border-radius: 50%;
            margin: 0 auto;
            margin-bottom: 12px;
        }
        
        a {
            color: $color-background-btn-hover;
            .text {
                font-size: 22px;
    
                span {
                    font-size: 20px;
                    white-space: nowrap;
                    @media (max-width: 1024px) {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    &__about {
        order: -1;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 24px;
        min-height: 400px;
        border: 2px solid $color-background-btn-hover;
        border-radius: 16px;
        padding: 32px;

        @media (max-width: 1024px) {
            gap: 12px;
            margin-bottom: 12px;
        }

        ul {
            padding: 0;
            li {
                margin-top: 12px;
            }
        }

        .btn-close {
            background-color: transparent;
            color: red;
            font-size: 2rem;
            align-self: end;
            margin: 0;
            padding: 0;
        }
    }
}